<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subcategory">
      <h2 data-cy="subcategoryDetailsHeading"><span appTranslate="billnextApp.subcategory.detail.title">Subcategory</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="billnextApp.subcategory.id">Id</span></dt>
        <dd>
          <span>{{ subcategory.id }}</span>
        </dd>
        <dt><span appTranslate="billnextApp.subcategory.name">Name</span></dt>
        <dd>
          <span>{{ subcategory.name }}</span>
        </dd>
        <dt><span appTranslate="billnextApp.subcategory.category">Category</span></dt>
        <dd>
          <div *ngIf="subcategory.category">
            <a [routerLink]="['/category', subcategory.category?.id, 'view']">{{ subcategory.category?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/subcategory', subcategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
