<div nz-row nzJustify="space-between">
  <div nz-col nzFlex="auto">
    <button nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="left" nzTheme="outline"></i>
    </button>
    <span>{{ date }}</span>
    <button nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
  </div>

  <div nz-col nzFlex="120px">
    <button nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="book" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="search" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="filter" nzTheme="outline"></i>
    </button>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <nz-tabset>
    <nz-tab [nzTitle]="daily">
      <ng-template #daily>
        <span appTranslate="dashboard.tabs.daily">Daily</span>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="calendar">
      <ng-template #calendar>
        <span appTranslate="dashboard.tabs.calendar">Calendar</span>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="weekly">
      <ng-template #weekly>
        <span appTranslate="dashboard.tabs.weekly">Weekly</span>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="monthly">
      <ng-template #monthly>
        <span appTranslate="dashboard.tabs.monthly">Monthly</span>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="total">
      <ng-template #total>
        <span appTranslate="dashboard.tabs.total">Total</span>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
