<nz-row nzJustify="center">
  <nz-col nzMd="14">
    <h1 appTranslate="reset.finish.title">Reset password</h1>

    <nz-alert *ngIf="initialized && !key" [nzMessage]="keyMissingTpl" class="mt-3" nzType="error">
      <ng-template #keyMissingTpl>
        <span appTranslate="reset.finish.messages.keymissing">
          <strong>The password reset key is missing.</strong>
        </span>
      </ng-template>
    </nz-alert>

    <nz-alert *ngIf="key && !success" [nzMessage]="infoTpl" class="mt-3" nzType="warning">
      <ng-template #infoTpl>
        <span appTranslate="reset.finish.messages.info">
          <strong>The password reset key is missing.</strong>
        </span>
      </ng-template>
    </nz-alert>

    <nz-alert *ngIf="error" [nzMessage]="errorTpl" class="mt-3" nzType="error">
      <ng-template #errorTpl>
        <span appTranslate="reset.finish.messages.error">
          Your password couldn't be reset. Remember a password request is only valid for 24 hours.
        </span>
      </ng-template>
    </nz-alert>

    <nz-alert *ngIf="success" [nzMessage]="successTpl" class="mt-3" nzType="success">
      <ng-template #successTpl>
        <span appTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
        <a appTranslate="global.messages.info.authenticated.link" class="alert-link" routerLink="/login">sign in</a>.
      </ng-template>
    </nz-alert>

    <nz-alert *ngIf="doNotMatch" [nzMessage]="doNotMatchTpl" class="mt-3" nzType="error">
      <ng-template #doNotMatchTpl>
        <span appTranslate="global.messages.error.dontmatch"> The password and its confirmation do not match! </span>
      </ng-template>
    </nz-alert>

    <form (ngSubmit)="finishReset()" *ngIf="key && !success" [formGroup]="passwordForm" class="mt-3" name="role" nz-form role="form">
      <nz-form-item>
        <nz-form-label nzFor="newPassword" nzSpan="8">
          <span appTranslate="global.form.newpassword.label">New password</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="newPasswordErrorTpl" nzHasFeedback nzSpan="16">
          <input
            #newPassword
            data-cy="resetPassword"
            formControlName="newPassword"
            id="newPassword"
            name="newPassword"
            nz-input
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            type="password"
          />
        </nz-form-control>
        <ng-template #newPasswordErrorTpl let-control>
          <small *ngIf="control.hasError('required')" appTranslate="global.messages.validate.newpassword.required"
            >Your password is required.</small
          >
          <small *ngIf="control.hasError('maxlength')" appTranslate="global.messages.validate.newpassword.maxlength"
            >Your password cannot be longer than 50 characters.</small
          >
          <small *ngIf="control.hasError('minlength')" appTranslate="global.messages.validate.newpassword.minlength"
            >Your password is required to be at least 4 characters.</small
          >
        </ng-template>
      </nz-form-item>
      <nz-row>
        <nz-col nzPush="8" nzSpan="16">
          <app-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></app-password-strength-bar>
        </nz-col>
      </nz-row>
      <nz-form-item>
        <nz-form-label nzFor="confirmPassword" nzSpan="8">
          <span appTranslate="global.form.confirmpassword.label">New password confirmation</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl" nzHasFeedback nzSpan="16">
          <input
            data-cy="confirmResetPassword"
            formControlName="confirmPassword"
            id="confirmPassword"
            name="confirmPassword"
            nz-input
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            type="password"
          />
          <ng-template #confirmPasswordErrorTpl let-control>
            <small *ngIf="control.hasError('required')" appTranslate="global.messages.validate.confirmpassword.required"
              >Your password is required.</small
            >
            <small *ngIf="control.hasError('maxlength')" appTranslate="global.messages.validate.confirmpassword.maxlength"
              >Your password cannot be longer than 50 characters.</small
            >
            <small *ngIf="control.hasError('minlength')" appTranslate="global.messages.validate.confirmpassword.minlength"
              >Your password is required to be at least 4 characters.</small
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        [disabled]="passwordForm.invalid"
        appTranslate="reset.finish.form.button"
        class="float-right mt-3"
        data-cy="submit"
        nz-button
        nzType="primary"
      >
        Reset Password
      </button>
    </form>
  </nz-col>
</nz-row>
