<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-activity-heading" data-cy="ActivityCreateUpdateHeading" appTranslate="billnextApp.activity.home.createOrEditLabel">
        Create or edit a Activity
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" appTranslate="billnextApp.activity.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" appTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal"
              appTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number" appTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.remarks" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'billnextApp.ActivityType.null' | translate }}</option>
            <option value="INCOME">{{ 'billnextApp.ActivityType.INCOME' | translate }}</option>
            <option value="EXPENSE">{{ 'billnextApp.ActivityType.EXPENSE' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" appTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.wallet" for="field_wallet">Wallet</label>
          <select class="form-control" id="field_wallet" data-cy="wallet" name="wallet" formControlName="wallet">
            <option *ngIf="!editForm.get('wallet')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="walletOption.id === editForm.get('wallet')!.value?.id ? editForm.get('wallet')!.value : walletOption"
              *ngFor="let walletOption of walletsSharedCollection; trackBy: trackWalletById"
            >
              {{ walletOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['wallet'])!.invalid && (editForm.get(['wallet'])!.dirty || editForm.get(['wallet'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['wallet'])?.errors?.required" appTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="billnextApp.activity.category" for="field_category">Category</label>
          <select class="form-control" id="field_category" data-cy="category" name="category" formControlName="category">
            <option *ngIf="!editForm.get('category')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
              *ngFor="let categoryOption of categoriesSharedCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['category'])!.invalid && (editForm.get(['category'])!.dirty || editForm.get(['category'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['category'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
