<div>
  <h2 id="page-heading" data-cy="ActivityHeading">
    <span appTranslate="billiesApp.activity.home.title">Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="billiesApp.activity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity"
        [routerLink]="['/activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="billiesApp.activity.home.createLabel"> Create a new Activity </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
    <span appTranslate="billiesApp.activity.home.notFound">No activities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="billiesApp.activity.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="date"><span appTranslate="billiesApp.activity.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="amount">
            <span appTranslate="billiesApp.activity.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="remarks">
            <span appTranslate="billiesApp.activity.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="type"><span appTranslate="billiesApp.activity.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="user.id"><span appTranslate="billiesApp.activity.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="wallet.id">
            <span appTranslate="billiesApp.activity.wallet">Wallet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="category.id">
            <span appTranslate="billiesApp.activity.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/activity', activity.id, 'view']">{{ activity.id }}</a>
          </td>
          <td>{{ activity.date | formatMediumDatetime }}</td>
          <td>{{ activity.amount }}</td>
          <td>{{ activity.remarks }}</td>
          <td appTranslate="{{ 'billiesApp.ActivityType.' + activity.type }}">{{ activity.type }}</td>
          <td>
            {{ activity.user?.id }}
          </td>
          <td>
            <div *ngIf="activity.wallet">
              <a [routerLink]="['/wallet', activity.wallet?.id, 'view']">{{ activity.wallet?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="activity.category">
              <a [routerLink]="['/category', activity.category?.id, 'view']">{{ activity.category?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(activity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activities && activities.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
