<!--<app-page-ribbon></app-page-ribbon>-->

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isNavbarCollapsed" [nzTrigger]="null">
    <app-navbar [isCollapsed]="isNavbarCollapsed"></app-navbar>
  </nz-sider>

  <nz-layout>
    <app-header (toggleNavbarEvent)="toggleNavbar($event)"></app-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <!--  <app-footer></app-footer>-->
</nz-layout>
