<div nz-row>
  <div nz-col nzSpan="6">
    <img nz-image width="200px" height="200px" nzSrc="./content/images/logo.png" alt="logo" />
  </div>

  <div nz-col nzSpan="18">
    <h1 appTranslate="home.title">BillNext</h1>

    <p appTranslate="home.subtitle">Track your bills and expenses!</p>

    <div [ngSwitch]="isAuthenticated()">
      <div *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" appTranslate="home.logged.message" [translateValues]="{ username: account.login }">
          You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div *ngSwitchCase="false">
        <a (click)="login()">Log in</a>
        <a routerLink="account/register">Register</a>
      </div>
    </div>
  </div>
</div>
