<nz-header>
  <div class="app-header" nz-row nzAlign="middle" nzJustify="space-between">
    <div class="left-toggles" nz-col nzSpan="12">
      <nz-space nzSize="large">
        <span nz-space-item (click)="toggleNavbar()" class="header-trigger">
          <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger" nz-icon></i>
        </span>
        <span nz-space-item (click)="toggleTheme()" class="header-trigger">
          <i class="trigger" nz-icon nzTheme="outline" nzType="skin"></i>
        </span>
        <a
          nz-space-item
          *ngIf="languages && languages.length > 1"
          [nzDropdownMenu]="menu"
          class="header-trigger"
          id="languagesNavBarDropdown"
          nz-dropdown
        >
          <i class="trigger" nz-icon nzTheme="outline" nzType="global"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu" aria-labelledby="languagesNavBarDropdown">
          <ul nz-menu>
            <li
              (click)="changeLanguage(language)"
              *ngFor="let language of languages"
              [nzDisabled]="language === currentLanguage"
              nz-menu-item
            >
              {{ language | findLanguageFromKey }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-space>
    </div>
    <div class="right-toggles" [ngSwitch]="isAuthenticated()" nz-col nzSpan="12">
      <a (click)="logout()" *ngSwitchCase="true">
        <i nz-icon nzType="logout"></i>
        <span appTranslate="header.logout">Log Out</span>
      </a>
      <a (click)="login()" *ngSwitchCase="false">
        <i nz-icon nzType="logout"></i>
        <span appTranslate="header.login">Log In</span>
      </a>
    </div>
  </div>
</nz-header>
