<div class="sidebar-logo">
  <a routerLink="/">
    <img alt="logo" src="/content/images/logo_transparent.png" />
    <h1>BillNext</h1>
    <span class="navbar-version">{{ version }}</span>
  </a>
</div>
<ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline">
  <li nz-menu-item routerLink="/dashboard">
    <i nz-icon nzType="dashboard"></i>
    <span *ngIf="!isCollapsed" appTranslate="navbar.dashboard">Dashboard</span>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="wallet"></i>
    <span *ngIf="!isCollapsed" appTranslate="navbar.wallets">Wallets</span>
  </li>
  <li nz-menu-item routerLink="/wallet-group">
    <i nz-icon nzType="group"></i>
    <span *ngIf="!isCollapsed" appTranslate="navbar.walletGroups">Wallet Groups</span>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="setting"></i>
    <span *ngIf="!isCollapsed" appTranslate="navbar.settings">Settings</span>
  </li>
  <li *ngIf="openAPIEnabled" nz-menu-item routerLink="admin/docs">
    <i nz-icon nzType="book"></i>
    <span *ngIf="!isCollapsed" appTranslate="navbar.apidocs">API</span>
  </li>
</ul>
