<div>
  <h2 id="page-heading" data-cy="SubcategoryHeading">
    <span jhiTranslate="billiesApp.subcategory.home.title">Subcategories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="billiesApp.subcategory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subcategory"
        [routerLink]="['/subcategory/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="billiesApp.subcategory.home.createLabel"> Create a new Subcategory </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subcategories?.length === 0">
    <span jhiTranslate="billiesApp.subcategory.home.notFound">No subcategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subcategories && subcategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="billiesApp.subcategory.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="billiesApp.subcategory.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="category.id">
            <span jhiTranslate="billiesApp.subcategory.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let subcategory of subcategories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subcategory', subcategory.id, 'view']">{{ subcategory.id }}</a>
          </td>
          <td>{{ subcategory.name }}</td>
          <td>
            <div *ngIf="subcategory.category">
              <a [routerLink]="['/category', subcategory.category?.id, 'view']">{{ subcategory.category?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subcategory', subcategory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subcategory', subcategory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subcategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
