<div>
  <h2 id="page-heading" data-cy="WalletHeading">
    <span appTranslate="billiesApp.wallet.home.title">Wallets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="billiesApp.wallet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wallet"
        [routerLink]="['/wallet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="billiesApp.wallet.home.createLabel"> Create a new Wallet </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wallets?.length === 0">
    <span appTranslate="billiesApp.wallet.home.notFound">No wallets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wallets && wallets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="billiesApp.wallet.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="walletGroup">
            <span appTranslate="billiesApp.wallet.walletGroup">Wallet Group</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="name"><span appTranslate="billiesApp.wallet.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="amount">
            <span appTranslate="billiesApp.wallet.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="currency">
            <span appTranslate="billiesApp.wallet.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="remarks">
            <span appTranslate="billiesApp.wallet.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="user.id"><span appTranslate="billiesApp.wallet.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let wallet of wallets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wallet', wallet.id, 'view']">{{ wallet.id }}</a>
          </td>
          <td appTranslate="{{ 'billiesApp.WalletGroup.' + wallet.walletGroup }}">{{ wallet.walletGroup }}</td>
          <td>{{ wallet.name }}</td>
          <td>{{ wallet.amount }}</td>
          <td>{{ wallet.currency }}</td>
          <td>{{ wallet.remarks }}</td>
          <td>
            {{ wallet.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/wallet', wallet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/wallet', wallet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wallet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
